@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    // width: fit-content;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    // overflow-y: scroll;
    // width: 100vw;
    // width: calc(100vw - 110rem);    
}
:root {
  // width: 100%;
  background-color :RGB(255, 255, 255); /* Solid black background */
  // background-color: #004c80; /* Solid black background */
    // color: black;
    // overflow-x: hidden; //clip better than hidden, hidden broke the header ishidingheader
    // scroll-behavior: unset !important;
    

}

::-webkit-scrollbar {

  display: none; 


}

body.no-scroll {
  overflow: hidden !important;
  height: 100vh;
  touch-action: none; /* Prevents touch scrolling */
}

