$primarycolorblack: #0A0A0A;
$secondarycolorblack: #050505;
$textcolorblack: #000000;
$primarycolorwhite: #D8D8D8;
$textcolorwhite: #DDD;






// Background Colors
$bg-primary: #385678; // Deep Blue
$bg-secondary: #7d5d4e; // Warm Brown
$bg-white: #ffffff; // Pure White
$bg-offwhite: #f9f8f7; // Soft Off-White
$bg-cream: #f2eee9; // Light Cream

// Text Colors
$text-dark: #4b4b4b; // Dark Brownish Gray
$text-accent: #80654f; // Light Brown
$text-muted: #fcece5; // Soft Brownish White
$text-highlight: #f6ffff; // Bluish White
$text-black: #070707; // Pure Black
$line-grey: #e0e0e0; // Pure Black

